.mainStuffWrapper {
    background: #efefef;
    width: 75%;
    height:100vh;
    padding: 0 15px 15px 15px;
}

.flexContainer {
    height: calc(60vh - 20px);
    overflow: auto;
}

.flexContainer h2 {
    margin: 10px 0 10px 0;
    height: 35px;
}

.flexboxwrapper {
    display: flex;
    overflow: auto;
    height: calc(100% - 55px);
    border: 1px solid #bfbfbf;
}

.containerControlsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: calc(40vh - 15px);
    overflow: auto;
    border: 1px solid #bfbfbf;
}

.containerControlsWrapper button.count {
    padding: 0 10px 0 10px;
    border-radius: 3px;
    background: #e2e2e2;
    margin-right: 5px;
}

.containerControlsWrapper button.active {
    background: #03bf67;
    color: white;
}

button {
    outline: 0;
}

.controlsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
}

.control {
    display: flex;
    flex-direction: column;
    padding: 10px
}

.control h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.control button {
    border-radius: 5px;
}

.control button.off {
    background: #e2e2e2;
}

.control button.on {
    background: #bf2def;
    color: white;
}

.item {
    width: 150px;
    border: 1px solid #bfbfbf;
}

.flexdirectionrow {
    flex-direction: row;
}

.flexdirectionrreverse {
    flex-direction: row-reverse;
}

.flexdirectioncolumn {
    flex-direction: column;
}

.flexdirectioncolreverse {
    flex-direction: column-reverse;
}

.flexwrapwrap {
    flex-wrap: wrap;
}

.flexwrapnowrap {
    flex-wrap: nowrap;
}

.flexwrapreverse {
    flex-wrap: wrap-reverse;
}

.justifycontentflexstart {
    justify-content: flex-start;
}

.justifycontentflexend {
    justify-content: flex-end;
}

.justifycontentcenter {
    justify-content: center;
}

.justifycontentspacearound {
    justify-content: space-around;
}

.justifycontentspacebetween {
    justify-content: space-between;
}

.justifycontentspaceevenly {
    justify-content: space-evenly;
}

.alignitemsflexstart {
    align-items: flex-start;
}

.alignitemsflexend {
    align-items: flex-end;
}

.alignitemscenter {
    align-items: center;
}

.alignitemsstretch {
    align-items: stretch;
}

.alignitemsbaseline {
    align-items: baseline;
}

.aligncontentflexstart {
    align-content: flex-start;
}

.aligncontentflexend {
    align-content: flex-end;
}

.aligncontentcenter {
    align-content: center;
}

.aligncontentstretch {
    align-content: stretch;
}

.aligncontentspacebetween {
    align-content: space-between;
}

.aligncontentspacearound {
    align-content: space-around;
}
